/* Affichage de la grille */
div {
	border: 1px solid black;
}

/* ------------------------------------------------------------------------- */

/* annule la marge de body */
body {
	margin: 0;
	padding: 0;
}

/* ------------------------------------------------------------------------- */

/* le logo est flottant à gauche */
#logo {
	float: left;
}

/* l'image du logo s'aligne sur le niveau du texte, pour ne pas dépasser en hauteur */
#logo img {
	vertical-align: bottom;
}

/* le bandeau de la pub commence à 120+20=140px de la gauche, son contenu est centré 
   et la marge interne haute et basse vaut 10px pour laisser un espace de hauteur 100px */
#pub {
	margin-left: 140px;
	text-align: center;
	min-width: 480px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* l'image de la pub s'aligne sur le niveau du texte, pour ne pas dépasser */
#pub img{
	vertical-align: bottom;
}

/* ------------------------------------------------------------------------- */

/* le pied de page centre son contenu sur les 50% du milieu */
.pied {
	clear: both;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

/* ------------------------------------------------------------------------- */

/* le conteneur principal devient la référence de positionnement (l'origine du repère) pour ses descendants */
.conteneur {
	position: relative;
}

/* le menu flotte à gauche, large de 10em */
#menu {
	float: left;
	max-width: 10em;
	width: 10em;
}

/* le titre principal centre son contenu ; il est accolé à droite du menu */
#titre {
	margin-left: 10em;
	text-align: center;
}

/* pas de contenu en-dessous du menu */
.contenu {
	margin-left: 10em;
}

/* la zone de recherche se situe en haut à droite de la zone principale, par-dessus le reste */
#recherche {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

/* les encarts sont larges de 10em, flottant à droite, l'un en-dessous de l'autre, et espacés de 4ex verticalement */
.encart {
	float: right;
	width: 10em;
	margin-top: 4ex;
	clear: right;
}